
*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.background-color {
    background-color: #F3D6C7;
}

.logo {
    width: 120px;
    height: 120px;
    margin-left: 3%;
    margin-top: 3%;
}

.messages {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 12px;

    color: #161A1D;

    text-align: center;
    padding: 2rem;
}
.messages p:last-child {
    margin-top: 1.5rem;
}
.card {
    width: 18rem;
    height: 18rem;
}
.blood {
    width: 10rem;
    height: 10rem;
    
}
