

*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.background-color {
    background-color: #F3D6C7;
}

.logo {
    width: 120px;
    height: 120px;
    margin-left: 3%;
    margin-top: 3%;
}

.message1 {
    margin-left: 32%;
    width: 500px;
    height: 200px;
    left: 450px;
    top: 64px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 12px;

    color: #161A1D;
}
.message2 {
    margin-left: 45%;
    margin-top: -15%;
    width: 500px;
    height: 200px;
    left: 450px;
    top: 64px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 12px;
}
.questions{

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 12px;

    text-align:center; 

    color: #161A1D;

}
